@tailwind base;
@tailwind components;
@tailwind utilities;

body, html, #root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #020617; /* Fond très sombre (Slate 950) */
  color: white; /* Texte blanc par défaut pour le contraste */
  overflow: hidden; /* Pas de scrollbar */
}